<template>
    <div>
        <h3>{{ t['chances'] }} <span class="badge">{{ date }}</span> <small><span class="badge badge-pill badge-info small-badge">Experimentální</span></small></h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th v-for="(party, i) in stats" :key="i" class="">
                            <span v-bind:style="{ color: party.color}">{{ party.name }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td v-for="(party, i) in stats" :key="i" class="">
                            {{ party.in | nicePercentage }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>&nbsp;<span v-html="t['info']"></span>
        </div>
        <hr/>
    </div>
</template>

<script>
    import config from "../config.js"
    import t from "../texts/components/Chances.json"
    import stats from '../static/data/stats.json'
    import currentSeats from '../static/data/current_seats.json'

    export default {
        data: function (){
            return {
                t,
                config,
                stats,
                date: new Date(currentSeats['date']).toLocaleDateString(LOCALE)
            }
        },
        filters: {
            nicePercentage(value) {
                if (value > 0.99) return "> 99%"
                if (value < 0.03) return "< " + Math.round(Math.ceil(value * 100)) + "%"
                return "~ " + Math.round(value * 100) + "%"
            }
        }

    }
</script>

<style scoped>

</style>