<template>
    <div>
        <h3>{{ t['seats_number'] }} <small>{{ t['with_error_estimate'] }}</small> <span class="badge">{{ date }}</span> </h3>
        <div class="container">
            <div class="row">
                <div v-for="(party, i) in seats" :key="i" class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card text-center mb-2">
                        <div class="card-header">
                            <h4 v-bind:style="{ color: party.color}">{{ party.name }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6 text-center">
                                    <div class="number">{{ party.seats }}</div>
                                </div>

                                <div class="difference" >
                                    <span v-if="party.difference > 0">
                                        <span class="text-success">▲{{ party.difference }}</span>
                                    </span>
                                    <span v-else-if="party.difference < 0">
                                        <span class="text-danger">▼{{ party.difference | abs }}</span>
                                    </span>
                                    <span v-else>
                                        <span class="text-muted">⚫ 0</span>
                                    </span>
                                </div>
                            </div>

                            <div class="lo-hi">
                                <strong>{{ party.lo }} - {{ party.hi }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>&nbsp;<span v-html="t['info']"></span>
        </div>
        <hr />
    </div>
</template>

<script>
    import config from "../config.js"
    import t from "../texts/components/Seats.json"
    import currentSeats from '../static/data/current_seats.json'

    export default {
        data: function (){
            return {
                t,
                config,
                seats: currentSeats['data'],
                date: new Date(currentSeats['date']).toLocaleDateString(LOCALE)
            }
        },
        filters: {
            abs(value) {
                return Math.abs(value);
            }
        },

    }

</script>

<style scoped>
    h4 {
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .small-badge {
        font-size: 0.33em;
        position: relative;
        bottom: 1em;
    }
    .number {
        font-family: "News Cycle","Arial Narrow Bold",sans-serif;
        font-weight: 700;
        line-height: 1.1;
        color: #000;
        font-size: 3.75em;
    }
    .difference {
        /* float: right; */
        position: relative;
        top: 1.5em;
        /* left: 7em; */
    }
    .lo-hi {
        font-size: 1.75em;
    }
</style>
