<template>
  <div>
      <Header></Header>
    <div class="container">
        <!-- <h1>{{ t['title'] }} <small><small>{{ t['subtitle'] }}</small></small></h1> -->
        <Seats></Seats>
        <Coalitions></Coalitions>
        <Chances></Chances>
        <history-chart></history-chart>
        <Table></Table>
        <Darujme></Darujme>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Seats from '@/components/Seats.vue'
import Coalitions from '@/components/Coalitions.vue'
import Chances from '@/components/Chances.vue'
import Table from '@/components/Table.vue'
import Darujme from '@/components/Darujme.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import HistoryChart from '@/components/HistoryChart.vue'
import t from "../texts/index.json"
import config from '../config.js'

export default {
  name: 'index',
  data:  function () {
      return {
          t
      }
  },
  head() {
      return {
          meta: [
              {hid: 'og:name', property: 'og:image', content: BASE_URL + this.t['og:image']},
              {hid: 'og:url', property: 'og:url', content: BASE_URL},
              {hid: 'og:type', property: 'og:type', content: 'website'},
              {hid: 'og:title', property: 'og:title', content: this.t['title']},
              {hid: 'og:description', property: 'og:description', content: this.t['og:description']},
              {hid: 'fb:app_id', property: 'fb:app_id', content: FB_APP_ID}
          ]
      }
  },
  components: {
      // 'history-chart': () => process.client ? import('@/components/HistoryChart.vue') : null,
      // 'history-chart': function() {
      //     if (process.client) {
      //         return import('@/components/HistoryChart.vue')
      //     } else {
      //         return null
      //     }
      // },
      // 'history-chart': () => import('@/components/HistoryChart.vue'),
      'history-chart': HistoryChart,
      Seats,
      Coalitions,
      Chances,
      Table,
      Darujme,
      Header,
      Footer
  }
}
</script>
<style>
    history-chart {
        height: 920px;
    }
</style>
